/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

* {
  font-family: "Urbanist", serif;
  font-style: normal;
}

body {
  font-family: "Urbanist", serif;
  font-style: normal;
}
